<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Image</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        body {
            background-color: black;
            background-position: center;
            color: #F38B34;
        }
        main {

            border-radius: 5px;
            color: #F38B34;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow-sm">
    <a class="navbar-brand" href="{% url 'photogrid' %}">Photos App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Task App</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'addimage' %}">Add images</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'photogrid' %}" method="POST">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <img class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" src="{{ photo.photo.url }}">
    <form method="POST" id="myform" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label for="newphoto" class="col-md-4 col-form-label text-md-right">Upload a photo</label>
            <div class="col-md-6">
                <input id="newphoto" type="file" class="form-control" name="newphoto">
            </div>
        </div>
        <div class="form-group row">
            <label for="tags" class="col-md-4 col-form-label text-md-right">Tags</label>
            <div class="col-md-6">
                <input id="tags" type="textarea" class="form-control" value="{{ tag }}" name="tags"
                       placeholder="please separate tags using commas" required>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-5">
                <button type="submit" class="btn btn-primary" class="register" name="register" data-toggle="modal"
                        data-target="#myModal">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>